{{> navbar}}
<div class="container mt-3">
  <h3 class="pricing-header p-3 pb-md-4 mx-auto text-center text-white">404 - Ups, no encontramos lo que buscabas :(
  </h3>
  <div class="image-home">
    <div class="img-fluid">
      <img src="/img/review-cry.png" alt="pepe" style="max-width:600px;width=100%">
    </div>
  </div>

  {{> backhome}}
</div>