{{> navbar}}
<div class="container mt-3">
  <h3 class="pricing-header p-3 pb-md-4 mx-auto text-center text-white">500 - El servidor explotó por un error
    desconocido</h3>
  <div class="image-home">
    <div class="img-fluid">
      <img src="/img/peepo-floor.jpg" alt="pepe" style="max-width:600px;width=100%" class="img-fluid">
    </div>
  </div>

  {{> backhome}}
</div>