{{> navbar}}
<div class="container mt-3">
  <div class="d-flex align-items-center gap-3">
    <img class="img-thumbnail" src="/img/review.png" alt="Pepe">
    <div class="text-white">
      <h2>Mi nombre es Pop Corny</h2>
      <p>
        Soy el Pop Corne crítico. <br>
        Me encanta ver peliculas y comentarlas con quien sea tan fanatico como yo. <br>
        Espero que esta web te ayude a dar reseñas de las peliculas que actualmente aún están en cartelera. <br>
        Siéntente libre de expresarte. No hay filtros aquí.
      </p>
    </div>
  </div>
  {{> backhome}}
</div>