{{> navbar}}
<div class="review-text text-white">
  <h3>Se ha eliminado con éxito la reseña de la pelicula "{{title}}" escrita por {{nameuser}} <br><br> </h3>
  <div class="image-home">
    <img src="/img/review-bad.png" class="img-fluid" alt="review">
  </div>
  {{> backhome}}
  <br>
  <div class="d-grid gap-2 col-6 mx-auto">
    <a href="/reviews" class="btn btn-secondary" type="button">Leer otras reseñas</a>
  </div>
</div>