{{> navbar}}


<body>
  <div class="container-home">
    <div class="container-title-home">
      <div class="title-home">
        <h1> Reseñas de Peliculas </h1>
      </div>

      <div class="div-img-home">
        <div class="img-home">
          <img src="/img/review.png" class="img-fluid" alt="review">
        </div>
      </div>


      <div class="text-home">
        <p>
          En esta web podrás dejar tus reseñas más auténticas sin miedo a la censura o no tener libertad de expresión.
          <br>
          Siéntete libre de ser el mejor o peor crítico del mundo. <br>
          Haz click en el botón <b>
            <font color="red">ROJO</font>
          </b> de abajo para crear una reseña o Haz click en el botón <b>
            <font color="#9b9b9b">GRIS</font>
          </b> para ver reseñas de otras personas.
        </p>
      </div>

    </div>
    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header text-white py-3">
              <h4 class="my-0 fw-strong">Spider-Man No Way Home</h4>
            </div>
            <div class="card-body">
              <div class="card-img">
                <a href="articles/create">
                  <img class="img-thumbnail" src="/img/spiderman.jpg" alt="Spiderman-NWH-movie">
                </a>
              </div>
              <div class="card-text text-white">
                <p>
                  Duración: 2 horas 28 minutos <br>
                  Género: Superhéroes, Acción <br>
                  Año: 2021 <br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-strong text-white">Morbius</h4>
            </div>
            <div class="card-body">
              <div class="card-img">
                <a href="articles/create">
                  <img class="img-thumbnail" src="/img/morbius.jpg" alt="Morbius-movie">
                </a>

              </div>
              <div class="card-text text-white">
                <p>
                  Duración: 1 hora 4 minutos <br>
                  Género: Superhéroes, Acción <br>
                  Año: 2022 <br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-strong text-white">The Batman</h4>
            </div>
            <div class="card-body text-white">
              <div class="card-img">
                <a href="articles/create">
                  <img class="img-thumbnail" src="/img/batman.jpg" alt="Batman-movie">
                </a>

              </div>

              <div class="card-text">
                <p>
                  Duración: 2 horas 56 minutos <br>
                  Género: Superhéroes, Acción <br>
                  Año: 2022 <br>
                </p>
              </div>
            </div>
          </div>
        </div>
    </main>
  </div>

  <div class="d-grid gap-3 col-6 mx-auto">
    <a href="articles/create" class="button-red" type="button">Crear una nueva reseña</a>
    <a href="reviews" class="button-grey" type="button">Leer reseñas</a>
  </div>
</body>