<nav class="navbar navbar-dark" style="background-color: #df4759">
  <div class="container d-flex justify-content-between">
    <a href="/" class="nav-text">
      <button type="button" class="btn btn-dark">Home</button>
    </a>
    <h4 class="nav-text">Reseñas de Peliculas</h4>
    <a href="/about" class="nav-text">
      <button type="button" class="btn btn-dark">Conóceme</button>
    </a>
  </div>
</nav>